.form {
  position: relative;
  display: flex;
  flex-direction: column;

  &[data-invalid] &-error {
    display: block;
  }

  &[data-success] .thank-you {
    display: flex;
  }

  input {
    height: 4.7rem;
    margin-bottom: 1.8rem;
    padding: 1rem;
  
    border: .1rem solid #3084F4;
    text-transform: uppercase;
    text-align: center;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &-error {
    display: none;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5em;
    
    color: red;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }
  
  &-submit-btn {
    margin-top: 7.5rem;

    align-self: center;
    text-transform: uppercase;
  }

  .thank-you {
    display: none;
    position: absolute;
    z-index: 0;
    left: 0;
    top:  0;
    width:  100%;
    height: 100%;
    background: white;

    justify-content: center;
    align-items: center;

    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  
    color: white;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      top:  50%;
      transform: translate(-50%, -50%);

      background: linear-gradient(90deg, #EC26F4 0%, #45AEFB 100%), white;
      width:  20.4rem;
      height: 100%;
    }
  }
}